.haikei {
    background-image: url(img/11.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 58%;
    height: auto;
    padding: 8% 4% 8% 4%;
    position: relative;
}

h2 i {
    margin-right: 2%;
}

.haikei_text {
    width: 80%;
    margin: 0 auto;
}

.leaders_site {
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
    font-size: 1.2rem;
    font-weight: 300;
    border-bottom: 1px solid #F57246;
    margin: 0 3px;
}

.leaders_site:hover {
    color: #F57246;
    padding-bottom: 3px;
}


.haikei h2 {
    margin: 5% 0;
    font-size: 2rem;
    color: #1E6EA3;
}

.haikei p {
    font-family: 'Sen', sans-serif;
    line-height: 2.3rem;
    font-size: 1.2rem;
}

.rotate1 {
    transform: rotate(-3deg);
}

.rotate2 {
    transform: rotate(3deg);
    margin: 0 0 0 auto;
}

.rotate1 .haikei_text {
    transform: rotate(3deg);
}

.rotate2 .haikei_text {
    transform: rotate(-3deg);
}

.sns_con {
    display: flex;
}

.sns_btn1 {
    padding: 10%;
    background-color: #1E6EA3;
    margin-left: 5%;
    border-radius: 10%;
    transform: rotate(-10deg);
}


.sns_btn2 {
    padding: 10%;
    background-color: #F57246;
    margin-left: 10%;
    border-radius: 10%;
    transform: rotate(10deg);
}

.btn:hover {
    transform: scale(1.2, 1.2);
}

.fa-twitter {
    color: #fdfdfd;
    font-size: 3rem;

}

.fa-instagram {
    color: #fdfdfd;
    font-size: 3rem;
}


.icons {
    position: absolute;
    z-index: 2;
}



.anime {
    animation-name: furufuru;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.anime2 {
    animation-name: furufuru;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes furufuru {
    0% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.img1 {
    top: -50%;
    left: -10%;
}

.img5 {
    top: 45%;
    right: -40%;
}

.img6 {
    top: -60%;
    left: 0%;
}


.img3 {
    top: -65%;
    right: 8%;
}

.img2 {
    top: -65%;
    left: 0%;
}


.img7 {
    top: 45%;
    right: -40%;
}

footer {
    padding: 3% 0;
    text-align: center;
    background-color: #FFFAF0;
    width: 100vw;
    color: #c6c6c6;
    margin-top: 10%;
}


@media screen and (max-width:479px) {

    .menu {
        display: none;
    }

    .top_text1 {
        text-align: right;
        font-size: 0.8rem;
    }

    .top_text2 {
        text-align: left;
        color: #c6c6c6;
        font-size: 1rem;
    }
    
    .leaders_site{
        font-size: 0.8rem;
    }

    .content {
        width: 100%;
        height: auto;
        padding: 0 3%;
    }

    .rotate2 {
        margin: 0;
    }

    .top_right img {
        width: 100%;
        height: auto;
    }

    .haikei {
        margin: 15% auto;
        padding: 10% 2%;
        width: 85%;
    }

    .haikei_text {
        width: 100%;
    }

    .haikei_text h2 {
        font-size: 1.2rem;
    }

    .haikei_text p {
        font-family: 'Sen', sans-serif;
        line-height: 1.5rem;
        font-size: 0.8rem;
    }

    .icons {
        width: 40%;
        height: auto;
    }

    .img1 {
        top: -40%;
        left: -5%;
    }

    .img5 {
        top: 90%;
        right: 0%;
    }

    .img6 {
        top: -35%;
        left: -5%;
        width: 35%;
    }


    .img3 {
        top: -40%;
        right: 0%;
    }

    .img2 {
        top: -40%;
        left: -10%;
    }


    .img7 {
        top: 90%;
        right: 0%;
    }



    footer {
        padding: 5% 0 5% 0;
        font-size: 0.8rem;
        margin-top: 15%;
    }

    .sns_btn1 {
        padding: 8%;
    }


    .sns_btn2 {
        padding: 8%;
    }
}
