* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #F7F3EA;
    min-width: 100vw;
    overflow-x: hidden;
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.all {
    display: flex;
    min-height: 100vh;
    flex: 1;
}

.menu {
    width: 15%;
    padding: 15% 2% 0 2%;
    position: fixed;
    z-index: 2;
}

ul {
    list-style: none;
}

li {
    margin: 5% 0;
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #010000;
    font-weight: 600;
    color: #c6c6c6;
    transition: 0.5s;
}

li i {
    margin-right: 5%;
}

a:hover {
    color: #F57246;
}

.content {
    width: 100%;
    height: auto;
    padding: 0 5% 0 20%;
}

.fa-comment {
    transform: scale(-1, 1);
}

#top {
    display: flex;
    margin-top: 8%;
}

.top_left {
    background-image: url(img/08.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: auto;
}

.left_con {
    padding: 25% 0 0 15%;
}

.img_top {
    width: 90%;
}

.top_text {
    width: 80%;
}

.top_text1 {
    text-align: right;
    font-size: 1.6rem;
}

.top_text2 {
    text-align: left;
    color: #c6c6c6;
    font-size: 1.6rem;
}

.top_right {
    width: 80%;
}
