.haikei {
    background-image: url(img/09.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
    height: 20%;
    margin: 8% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 i {
    margin-right: 2%;
}

.haikei_text {
    width: 80%;
    margin: 0 auto;
}


.haikei h2 {
    margin: 5% 0;
    font-size: 2rem;
    color: #1E6EA3;
}

.haikei p {
    font-family: 'Sen', sans-serif;
    line-height: 2.3rem;
    font-size: 1.2rem;
}

.rotate1 {
    transform: rotate(-5deg);
}

.rotate2 {
    transform: rotate(5deg);
    float: right;
}

.rotate1 .haikei_text {
    transform: rotate(5deg);
}

.rotate2 .haikei_text {
    transform: rotate(-5deg);
}

.sns_con {
    display: flex;
}

.sns_btn1 {
    padding: 10%;
    background-color: #1E6EA3;
    margin-left: 5%;
    border-radius: 10%;
    transform: rotate(-10deg);
}


.sns_btn2 {
    padding: 10%;
    background-color: #F57246;
    margin-left: 10%;
    border-radius: 10%;
    transform: rotate(10deg);
}

.btn:hover {
    transform: scale(1.2, 1.2);
}

.fa-twitter {
    color: #fdfdfd;
    font-size: 3rem;

}

.fa-instagram {
    color: #fdfdfd;
    font-size: 3rem;
}


.icons {
    position: absolute;
}



.anime {
    animation-name: furufuru;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.anime2 {
    animation-name: furufuru;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes furufuru {
    0% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(-5deg);
    }
}

.img1 {
    top: 590px;
    left: 170px;
}

.img5 {
    top: 1100px;
    right: 120px;
}

.img6 {
    top: 1650px;
    left: 230px;
}


.img3 {
    top: 2190px;
    right: 120px;
}

.img2 {
    top: 2700px;
    left: 200px;
}

.img7 {
    top: 3400px;
    right: 120px;
}

footer {
    padding: 2% 0;
    text-align: center;
    background-color: #FFFAF0;
    position: absolute;
    width: 100vw;
    bottom: -1500px;
    color: #c6c6c6;
}
